body{
  margin:0;
  font-family:Arial;
  background:#f3f3f3;
}

nav{
  background:#131921;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

nav input{
  padding:8px;
}

.hero{
  background:#febd69;
  text-align:center;
  padding:40px;
}

.products{
  display:flex;
  gap:20px;
  padding:20px;
}

.card{
  background:white;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

.card img{
  width:100%;
}

button{
  background:orange;
  border:none;
  padding:10px;
}
.item{
  border-radius: 8px;
  margin-top: 12px;
}
nav input {
  width: 300%;
  padding-top: 20px;
  height: 50px;
  margin-bottom: 100px;
  
}